{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block content %}

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-40 md:pb-20">
            <div class="max-w-3xl mx-auto">
                <div class="mx-auto text-center">
                    <h1 class="h2">{% trans "Sign In" %}</h1>
                </div>
                <form class="flex flex-col mt-6" method="POST"

                      action="{% url 'account_login' %}">
                    {% csrf_token %}

                <div class="text-center" >
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p class="bg-red-600 px-3 py-1 font-medium text-white rounded">{{ error }}</p>
                    {% endfor %}
                {% endfor %}

                </div>
                <div data-aos="fade-down"
                        data-aos-delay="300">
                    <div class="sm:px-32"
                         >
                        <p class="font-bold dark:text-gray-400 ">{{ form.login.label }}</p>
                        <p class="dark:text-gray-500 ">{{ form.login|add_class:"w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-blue-500 transition-colors"|attr:"placeholder:" }}</p>
                    </div>
                    <div class="sm:px-32 mt-4">
                        <p class="font-bold  dark:text-gray-400 ">{{ form.password.label }}</p>
                        <p class="dark:text-gray-500">{{ form.password|add_class:"w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-blue-500 transition-colors"|attr:"placeholder:" }}</p>

                    </div>
                </div>

                    <button data-aos="fade-right"
                        data-aos-delay="300" class="bg-purple-600 text-white rounded px-3 shadow-md w-72 h-10 font-semibold py-1 mx-auto mt-4"
                            type="submit">{% trans "Sign In" %}</button>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="mx-auto mt-2">
                        <a class="button secondaryAction text-sm text-purple-500 font-medium"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>

                    <div class="flex mt-4 items-center text-center sm:px-32">
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                        <label class="block dark:text-gray-100 font-medium text-sm text-gray-700 w-2/6">
                            OR
                        </label>
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                    </div>


                <div class="sm:px-32 flex gap-4 item-center mt-4" data-aos="fade-up"
                        data-aos-delay="300">
        <button type="button" class="py-2 px-4 flex justify-center items-center  bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded ">
            <svg width="20" height="20" fill="currentColor" class="mr-2" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z">
                </path>
            </svg>
            Facebook
        </button>
        <button type="button" class="py-2 px-4 flex justify-center items-center  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded ">
            <svg width="20" height="20" fill="currentColor" class="mr-2" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M896 786h725q12 67 12 128 0 217-91 387.5t-259.5 266.5-386.5 96q-157 0-299-60.5t-245-163.5-163.5-245-60.5-299 60.5-299 163.5-245 245-163.5 299-60.5q300 0 515 201l-209 201q-123-119-306-119-129 0-238.5 65t-173.5 176.5-64 243.5 64 243.5 173.5 176.5 238.5 65q87 0 160-24t120-60 82-82 51.5-87 22.5-78h-436v-264z">
                </path>
            </svg>
            Google
        </button>
    </div>
                </form>
            <div class="text-center mt-6">
                    <p>
                        Don't have an account? <a class="text-violet-500 font-semibold" href="{% url "account_signup" %}">Sign Up</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}