{% extends "_base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-24 pb-12 md:pt-40 md:pb-20">
            <div class="max-w-3xl mx-auto">
                <h1 class="h2 text-center">{% trans "Forgotten your password?" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-center font-medium">{% trans " It happens to the best of us. <br/>  We'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset flex flex-col mt-6">
                    {% csrf_token %}
                    <div class="text-center">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p class="bg-red-600 px-3 py-1 font-medium text-white rounded">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <p class="font-bold  w-72 mx-auto">{{ form.email.label }}</p>
                    {{ form.email|add_class:"w-72 h-10 border appearance-none border border-transparent py-2 px-4 bg-white mx-auto text-gray-700 placeholder-gray-400 shadow-md rounded text-base focus:outline-none focus:ring-2 focus:ring-violet-600 focus:border-transparent" }}

                    <input class="bg-violet-500 text-white rounded px-3 shadow-md w-72 h-10 font-semibold py-1 mx-auto mt-4"
                            type="submit" value="{% trans 'Reset My Password' %}" />
                </form>

                <p class="font-medium mt-4 text-center mb-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}