[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-allauth = "*"
pillow = "*"
django-widget-tweaks = "*"
python-dotenv = "*"
django-ckeditor = "*"
whitenoise = "*"
gunicorn = "*"
django-livereload-server = "*"
django-jazzmin = "*"
sorl-thumbnail = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
dj-database-url = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
django-quill-editor = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
black = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
markdown = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.8"
