{% extends '_base.html' %}
{% load pages_filters %}
{% load static %}
{% load humanize %}
{% block content %}
{% load widget_tweaks %}
<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">

    <main class="flex-grow">
        <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
            <div class="pt-32 pb-12 md:pt-40 md:pb-20">
                <div class="max-w-3xl mx-auto">

                <p class="my-8 h2 text-center">
                    Edit the<span class="text-purple-600"> {{ form.job_title.value }}</span> position
                </p>

                    {% comment %} Content Start {% endcomment %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                     {% if request.user == job.user %}

                        <div class="text-center justify-center">
                        <div class="bg-red-600 rounded text-white text-center">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="bg-red-600 rounded animate-pulse text-white">
                                            <strong>{{ field.label|escape }} - </strong>
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="bg-red-600 text-white">
                                        <strong>{{ field.label|escape }} - </strong>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                            </div>
                       <p class="font-semibold" >{{ form.job_title.label }}:</p>
                        <p>{{ form.job_title|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.tag.label }}:</p>
                        <p>{{ form.tag|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.company.label }}:</p>
                        <p>{{ form.company|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.location.label }}:</p>
                        <p>{{ form.location|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.apply.label }}:</p>
                        <p>{{ form.apply|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>

                         <p class="font-semibold mt-6" id="djob_job_summary">{{ form.job_summary.label }}</p>
                        <div id="editor" class="job-summ w-full rounded shadow-lg dark:text-white border border-gray-200 dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700">
                        </div>
                        <p>{{ form.job_summary|add_class:'hidden' }}</p>


                        <p class="font-semibold mt-6">{{ form.minimum_requirements.label }}</p>
                        <div id="editor2" class="job-summ w-full rounded shadow-lg dark:text-white border border-gray-200 dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700">
                        </div>
                        <p>{{ form.minimum_requirements|add_class:'hidden' }}</p>

                        <p class="font-semibold mt-2">{{ form.preferred_requirements.label }}</p>
                        <div id="editor3" class="job-summ w-full rounded shadow-lg dark:text-white border border-gray-200 dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700">
                        </div>
                        <p>{{ form.preferred_requirements|add_class:'hidden' }}</p>

                        <p class="font-semibold mt-2">{{ form.benefits.label }}</p>
                       <div id="editor4" class="job-summ w-full rounded shadow-lg dark:text-white border border-gray-200 dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700">
                        </div>
                        <p>{{ form.benefits|add_class:'hidden' }}</p>

                         <p class="font-semibold mt-2">{{ form.salary_range.label }}</p>

                        <p>{{ form.salary_range|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.days_posted.label }}:</p>
                        <p>{{ form.days_posted|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>
                        <p class="font-semibold" >{{ form.company_logo.label }}:</p>
                        <p>{{ form.company_logo|add_class:'w-full border py-2 border-gray-200 rounded hover:border-gray-300 shadow dark:text-white dark:bg-gray-600 dark:text-white dark:bg-opacity-25 dark:border-gray-700 focus:outline-none focus:border-violet-600 transition-colors' }}</p>

                         <div class="text-center">
                            <input class="bg-violet-500 text-white mt-4 p-1 px-12 rounded font-semibold" type="submit" name="Update" value="Update" id="">
                        </div>
                        {% else %}
                             {% include 'pages/403.html' %}
                        {% endif %}
                    </form>

                    {% comment %} Content Ends {% endcomment %}

                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block js %}
    <script>
        function prefillData() {
            var main_fields = document.getElementsByClassName('job-summ')

            el1 = document.getElementById("id_job_summary").value
            el2 = document.getElementById("id_minimum_requirements").value
            el3 = document.getElementById("id_preferred_requirements").value
            el4 = document.getElementById("id_benefits").value

            var arr = [el1, el2, el3, el4]

            for (i=0;i < main_fields.length;i++){
                main_fields[i].innerHTML = arr[i]
            }
        }

        prefillData()

        var delete_form = 'person-delete'
        function deleteFunction() {
            if(!confirm("Are you sure you want to delete?")){
                document.getElementById(delete_form).preventDefault();
            }else{
             document.getElementById("person-delete").submit();
            }
        }
    </script>
     <script>
    var img = document.getElementById('id_company_logo')
    img.addEventListener("change", function (){
      document.getElementById('img-name').textContent = "You uploaded: "  + img.value.replace('C:\\fakepath\\',' ')

    })
    </script>
<!-- Include the Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline'],        // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }, { 'header': 3 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  ['clean']                                         // remove formatting button
];

var quill1 = new Quill('#editor', {
  theme: 'bubble',
    modules: {
    toolbar: toolbarOptions
  },// Specify theme in configuration
});
var quill2 = new Quill('#editor2', {
  theme: 'bubble',
    modules: {
    toolbar: toolbarOptions
  },// Specify theme in configuration
});
var quill3 = new Quill('#editor3', {
  theme: 'bubble',
    modules: {
    toolbar: toolbarOptions
  },// Specify theme in configuration
});
var quill4 = new Quill('#editor4', {
  theme: 'bubble',
    modules: {
    toolbar: toolbarOptions
  },// Specify theme in configuration
});
</script>
    <script>

    const job_summary = document.querySelectorAll(".ql-editor")
    job_summary[0].classList.add("text-base")
    job_summary[1].classList.add("text-base")
    job_summary[2].classList.add("text-base")
    job_summary[3].classList.add("text-base")

    job_summary[0].classList.add("font-iter")
    job_summary[1].classList.add("font-iter")
    job_summary[2].classList.add("font-iter")
    job_summary[3].classList.add("font-iter")



    job_summary[0].addEventListener('blur', function() {
        element = document.getElementById("id_job_summary")
        element.value = job_summary[0].innerHTML
    })

    job_summary[1].addEventListener('blur', function() {
        element = document.getElementById("id_minimum_requirements")
        element.value = job_summary[1].innerHTML
     })

    job_summary[2].addEventListener('blur', function() {
        element = document.getElementById("id_preferred_requirements")
        element.value = job_summary[2].innerHTML
     })

    job_summary[3].addEventListener('blur', function() {
        element = document.getElementById("id_benefits")
        element.value = job_summary[3].innerHTML
     })

    </script>
{% endblock %}